body {
  background-color: #3a4968;
  max-width: 100%;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.SW-Button {
  border: 4px solid grey;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-size: larger;
  font-weight: 600;
}

.SW-Button:hover {
  border: 4px solid rgb(0, 240, 172);
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-size: larger;
  font-weight: 600;
}
.SW-Button-Active {
  border: 4px solid white;
  border-radius: 0.5rem;
  background-color: rgb(4 120 87);
  color: white;
  font-size: larger;
  font-weight: 600;
}

.SW-Button-Active:hover {
  border: 4px solid rgb(0, 240, 172);
  border-radius: 0.5rem;
  background-color: rgb(4 120 87);
  color: white;
  font-size: larger;
  font-weight: 600;
}
